* {
    box-sizing: border-box;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
    -webkit-user-select: none;
    user-select: none;
}

body {
    margin: 0;
    padding: 0;
    background-color: #ffd400;
}

main {
    display: flex;
    flex-direction: column;
    max-width: 320px;
    margin: 30px auto;
}

img {
    width: 150px;
    margin: auto;
}

input {
    background: #F2F2F2;
    padding: 15px;
    margin: 5px 0;
    border: 3px solid #262001;;
    border-radius: 10px;
    font-size: large;
    text-align: center;
    font-weight: bold;
    -webkit-user-select: text;
    user-select: text;
}

button {
    padding: 10px;
    margin: 5px 0;
    border: 3px solid #262001;
    background: #262001;
    color: #F2F2F2;
    border-radius: 10px;
    font-weight: bold;
    font-size: large;
}

button:hover {
    background: #181401;
    border: 3px solid #181401;
    cursor: pointer;
}

ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    gap: 10px;
}

li {
    color: #262001;
    background: #F2F2F2;
    padding: 10px;
    border: 3px solid #262001;
    border-radius: 10px;
    box-shadow: 0px 2px;
    flex-grow: 1;
    align-content: space-between;
    text-align: center;
}

li:hover {
    background: #ffcbcb;
    cursor: pointer;
}