* {
    box-sizing: border-box;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    min-width: 300px;
    max-width: 400px;
    margin: 0;
}

main {
    margin: 20px 15px;
}

input {
    border: 2px solid darkgreen;
    padding: 10px;
    width: 100%;
    margin: 0 0 0 0;
}

button {
    background-color: darkgreen;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px 20px;
    margin: 5px 0 0 0;
    border: 2px solid darkgreen;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 5px;
}

a {
    color: darkgreen;
}

#delete-btn {
    background: unset;
    color: darkgreen;
}