* {
    box-sizing: border-box;
    text-align: center;
    font-family: "Madimi One", sans-serif;
    margin: 0;
    -webkit-user-select: none;
    user-select: none;
}

body {
    margin: 0;
    width: 100%;
    background: #240A34;
    color: #EABE6C;
}

img {
    width: 70px;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 30px;
}

button {
    font-size: 18px;
    cursor: pointer;
}

#header {
    margin: 30px 0;
}

#points {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#game {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 500px;
}

#table {
    display: flex;
    height: 300px;
    font-size: 20px;
}

#main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex: 3;
}

#u-choice-el,
#c-choice-el {
    border-radius: 50px;
    padding: 10px 15px;
    margin: 10px;
    width: 100%;
}

#user,
#computer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #3E1F47;
    padding: 20px 10px;
    border-radius: 15px;
}

#user button,
#computer button {
    width: 100px;
    height: 50px;
    background: #144552;
    color: #EABE6C;
    border: 4px solid #272640;
    border-radius: 50px;
    box-shadow: 0 3px #312244;
}

#user button:hover {
    background: #1B3A4B;
}

#user button:active {
    background-color: #212F45;
    box-shadow: 0 1px #312244;
    transform: translateY(4px);
}

#footer button {
    width: 200px;
    height: 50px;
    background: #006466;
    color: #EABE6C;
    border: 1px solid #144552;
    border-radius: 15px;
    box-shadow: 0 3px #144552;
    margin: 30px;
    font-size: 30px;
}

#footer button:hover {
    background-color: #065A60;
}

#footer button:active {
    background-color: #0B525B;
    box-shadow: 0 1px #312244;
    transform: translateY(4px);
}

.hide {
    display: none;
}